{%extends 'app/index.html'%}
{%block content%}

    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Your Memories</span>
    </nav>
    <div class="card"  style="width: 10rem;">
        <a href="{% url 'add'%}" class="btn btn-primary stretched-link" >Add Memory</a>
    </div>

<br>
<div class="row-8">
    <div class="col-8">
        <ul class="list-group">
            {%for mems in m %}
            <li class="list-group-item"><p><a href="#" class="text-info"><h4>{{mems.content}}</h4></a></p>
            
                <div class="float-right">
                <button type="button" class="btn btn-success">{{mems.date}}</button>
                <form action="delete/{{mems.id}}/" method="post">
                    {%csrf_token%}
                    <div class="float-right">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
                </div>
        </li>
            {%endfor%}
          </ul>
    </div>
</div>

   
{%endblock%}